{extend name="../application/portal/view/dashboard/layout.html" /}
{block name="title"}My Available Tutoring Slot{/block}
{block name="main"}
<h3>Available Tutoring Slots</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
    </tr>
  </thead>
  <tbody>
    {volist name="availabilities" id="a" empty="$empty_availability_message" }
    <tr>
      <td class="align-middle">{:date('D M j G:i T Y',strtotime($a.appointment_starttime))}</td>
      <td class="align-middle">{:date('D M j G:i T Y',strtotime($a.appointment_endtime))}</td>
    </tr>
    {/volist}
  </tbody>
</table>
<h4 class="mt-3">Add a new slot</h4>
<form method="POST">
  <div class="form-group">
    <label for="input-starttime">Start Time</label>
    <input type="text" class="form-control" id="input-starttime" name="starttime" required="required">
  </div>
  <div class="form-group">
    <label for="input-endtime">End Time</label>
    <input type="text" class="form-control" id="input-endtime" name="endtime" required="required">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>{notempty name="alert"}alert({$alert|raw|json_encode});{/notempty}</script>
{/block}
