{extend name="../application/portal/view/dashboard/layout.html" /}
{block name="title"}My Subject Mastery{/block}
{block name="main"}
<h3>Subjects Mastery Management</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
  </thead>
  <tbody>
    {volist name="subjects" id="s"}
    <tr {in name="s.code" value="$masteries"}class="table-success"{/in}>
      <th class="align-middle" scope="row">{$s.code}</th>
      <td class="align-middle">{$s.name}</td>
      <td class="align-middle">{notin name="s.code" value="$masteries"}<button class="btn btn-link btn-sm"  onclick="addSubject('{$s.code}')"><span data-feather="plus-square"></span>&nbsp;I can teach this</button>
        {else /}<button class="btn btn-link btn-sm" onclick="removeSubject('{$s.code}')"><span data-feather="minus-square"></span>&nbsp;I no longer teach this</button>{/notin}</td>
    </tr>
    {/volist}
  </tbody>
</table>
<script>
function addSubject(code) {
  $.ajax({
    type: "POST",
    url: '/tutor/subjects/add/' + code,
    data: {},
    success: function(data) {
      alert(data);
      location.reload();
    },
    dataType: "json"
  });
}
function removeSubject(code) {
  $.ajax({
    type: "POST",
    url: '/tutor/subjects/remove/' + code,
    data: {},
    success: function(data) {
      alert(data);
      location.reload();
    },
    dataType: "json"
  });
}
</script>
{/block}
