{extend name="../application/portal/view/dashboard/layout.html" /}
{block name="title"}Make Payments{/block}
{block name="main"}
<h3 class="border-bottom">Make a Payment</h3>
<form id="payment-form" action="/student/pay/paypal" method="POST" target="_blank" style="max-width:230px;">
  <div class="form-group">
    <label for="amountInput">Payment Amount</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">$</div>
      </div>
      <input type="text" name="amount" class="form-control form-control-lg" placeholder="xxx.xx" required="required" pattern="\d+(\.\d?\d?)?">
    </div>
  </div>
  <script>
    function checkoutButtonClick() {
      if($("#payment-form")[0].checkValidity()) {
        $("#payment-form")[0].submit();
      } else {
        alert('Invalid payment amount, please check your input.');
      }
    }
  </script>
  <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" onclick="checkoutButtonClick()" />
</form>
{/block}
