<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="OrangeTutor is an online tutor management software that streamlines tutoring scheduling.">

    <title>OrangeTutor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
  </head>

  <body style="padding-top: 3.5rem;">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">OrangeTutor</a>
    </nav>

    <main role="main">

      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Welcome to OrangeTutor!</h1>
          <p>OrangeTutor is an online tutoring management system that helps students, tutors, and parents to streamline the scheduling, management process.</p>
          <p><a class="btn btn-primary btn-lg" href="/dashboard" role="button"><span class="oi oi-dashboard"></span>&nbsp;Enter Dashboard &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>For Students</h2>
            <ul>
              <li>Manage your appointments</li>
              <li>View Tutor Listing</li>
              <li>Rate your tutors</li>
              <li>Refer your friends</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h2>For Parents</h2>
            <ul>
              <li>View your loved ones' schedules</li>
              <li>Pay bills online</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h2>For Tutors</h2>
            <ul>
              <li>Create your availbilities</li>
              <li>Manage your profile</li>
              <li>Manage appointments</li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
    </main>
    <footer class="container">
      <p>&copy; 2018 OrangeTutor</p>
    </footer>
  </body>
</html>
