<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex,nofollow">

    <title>{block name="title"}Website Title{/block} - OrangeTutor</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous" />
    <link href="/static/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">OrangeTutor</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item">
          <a class="nav-link" onclick="logout()">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="padding-top:50px;">
          <div class="sidebar-sticky">
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link {eq name="active_menu" value="dashboard"}active{/eq}" href="/dashboard">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {eq name="active_menu" value="profile"}active{/eq}" href="/dashboard/profile">
                  <span data-feather="user"></span>
                  My Profile
                </a>
              </li>
            </ul>

            {assign name="gid" value="1" /}
            {in name="gid" value="$user_group_ids"}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>System Administator Operations</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link {eq name="active_menu" value="admin-users"}active{/eq}" href="/admin/users">
                  <span data-feather="users"></span>
                  Manage Users
                </a>
              </li>
            </ul>
            {/in}

            {assign name="gid" value="3" /}
            {in name="gid" value="$user_group_ids"}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Student Services</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link {eq name="active_menu" value="student-appointments"}active{/eq}" href="/student/appointments">
                  <span data-feather="calendar"></span>
                  My Appointments
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {eq name="active_menu" value="student-availabilities"}active{/eq}" href="/student/availabilities">
                  <span data-feather="search"></span>
                  View Tutoring Availabilities
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {eq name="active_menu" value="student-payment"}active{/eq}" href="/student/pay">
                  <span data-feather="dollar-sign"></span>
                  Make Payments
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="star"></span>
                  Rate my tutors
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {eq name="active_menu" value="student-refer"}active{/eq}" href="/refer">
                  <span data-feather="share-2"></span>
                  Refer friends
                </a>
              </li>
            </ul>
            {/in}

            {assign name="gid" value="2" /}
            {in name="gid" value="$user_group_ids"}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Tutor Services</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link {eq name="active_menu" value="tutor-appointments"}active{/eq}" href="/tutor/appointments">
                  <span data-feather="calendar"></span>
                  My Appointments
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="edit"></span>
                  Edit Availabilities
                </a>
              </li>
            </ul>
            {/in}
          </div>
        </nav>

        <main role="main" class="ml-sm-auto col-md-10 pt-3 px-4">
          {block name="main"}Main Contents{/block}
        </main>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha256-pS96pU17yq+gVu4KBQJi38VpSuKN7otMrDQprzf/DWY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha256-5+02zu5UULQkO7w1GIr6vftCgMfFdZcAHeDtFnKZsBs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.6.0/feather.min.js" integrity="sha256-P8ictWvW9OAkzEDi0Cgm7s35aJjjSLUFQLWRlYCbuYY=" crossorigin="anonymous"></script>
    <script>
      feather.replace()
    </script>
    <script src="/static/dashboard.js"></script>
  </body>
</html>
